.hidden {
    display: none;
}
.text {
    color: black;
    font-size: 10px;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
    height: 10vh;
}

main {
    flex: 1;
    padding: 20px;
    background-color: black;
    height: 80vh;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
    height: 10vh;
}

button {
    padding: 15px 20px;
    color: black;
    border: none;
    cursor: pointer;
    background: linear-gradient(to bottom, #43B7E7, #4F85E8);
    font-family: "Ubuntu";
    font-size: 17px;
    text-shadow: 1px 1px 1px;
    border-radius: 15px;
    width: 90%;
}

.footer-button {
    flex: 1;
    color: black;
    border: 2px solid;
    cursor: pointer;
    background-color: #43B7E7;
    font-family: "Ubuntu";
    font-size: 17px;
    text-shadow: 1px 1px 1px;
    width: 90%;
}

button img {
    width: 30px;
    height: 30px;
}